@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

/* font-family: 'Montserrat', sans-serif; */


* {
    box-sizing: border-box;
  }

*::before, *::after {
    box-sizing: border-box;
  }

html {
    background-image: url(../images/danc2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    
    font-family: 'Arial Black', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0A0A0A;

}






.logotype {
    width: 70px;
}


.header {
    background-color: #fded02;
    padding: 10px 0 10px;
    color: #1f1f1f;
    font-size: 24px;
    line-height: 29px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
    display: flex;
    flex-grow: 1.1;
    flex-basis: 0;
}

.phone {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
    font-size: 24px;
    line-height: 29px;
}





.menu-item {
    padding-right: 30px;
}

.headline{
    text-align: center;
    padding: 10px 0 150px;
}

.title {
    
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 30px 0 -8px;
    color: #fded02;
    font-weight: 800;
    font-size: 64px;
    line-height: 55px;    
}

.title2 {
    
    padding: 10px 0 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fded02;
}



.title4 {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 45px;
    font-family: 'Montserrat', sans-serif;
}

.vk {
    text-align: center;
    margin: 0 auto;
    width: 60px;
}
.whatsapp {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 70px;
}

.telephone {
    align-items: center;
    margin: 0 auto;
    width: 50px;
}

.content {
    
    align-items: center;
    display: flex;
    margin: 120px auto 70px;
    width: 450px;
    padding: 10px 0 10px;
    background-color: #fded02;
    border-radius: 30px;
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
}

.headline-img {
    width: 300px;
    display: block;
    margin: 10px auto 20px;
    margin-top: 10px;
    margin-bottom: 120px;

}

.headline-btn {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #1f1f1f;;
    background-color: #fded02;
    padding: 22px 117px 19px;
    border-radius: 30px;
}



.new-title,
.color-title{
    margin: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    color: #fded02;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}

.new-info{
    display: flex;
    align-items: center;
}

.images-new{
    margin-left: 190px;

}

.color{
    padding-bottom: 150px;

}

.color-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.color-item img{
    margin-bottom: 20px;

}

.color-item h3 {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 10px;

}

.color-item p{
    margin: 0;
}

.footer {

background-color: #fded02;
}

.footer-inner {
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.footer-link {
    font-size: 20px;
    flex-basis: 0;
    flex-grow: 1;
}


.menu-btn {
    display: none;
}

@media (max-width: 1920px){

    .title2 {
        padding: 10px 0 78px;
    }

    .headline-img {
        margin-bottom: 200px;
    }
}




@media (max-width: 1200px){
    
    .headline-img{
        max-width: 100%;
    }

    .contacts-inner{
        display: block;
    }

    .contacts-form{
        width: auto;
    }
    .contacts-title{
        text-align: center;
    }

    .contacts-img {
        width: 100px;
    }
}

@media (max-width: 1100px){
    .color-list{
        flex-wrap: wrap;
    }
    
    .color-item{
        width: 50%;
        margin-bottom: 30px;

    }
}



@media (max-width: 940px){

    html {
        background-position: center;
        background-size:cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .content {
        margin: 120px auto 70px;
        align-items: center;
        width: 300px;
    }

    .menu-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 50;
    }

    .logo, .phone {
        position: relative;
        z-index: 50;
    }

    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #1f1f1f;;
        height: 2px;
        transition: .3s ease;
    }

    .btn-line:nth-child(1) {
        top: 0;
    }
    .btn-line:nth-child(2) {
        top: 20px;
    }
    .btn-line:nth-child(3) {
        top: 20px;
    }
    .btn-line:nth-child(4) {
        top: 40px;
    }

    .menu-open .btn-line:nth-child(1){
        transform: scaleX(0);
    }
    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }
    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }
    .menu-open .btn-line:nth-child(4){
        transform: scaleX(0);
    }

    
    .menu {
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     background-color: #fded02;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     transform: translateY(-100%);
     transition: .3s ease;
    }
    
    .menu-open .menu {
        transform: translateY(0%);
    }

    .menu-item {
        padding: 30px 0;
        font-size: 40px;
    }

    .images-new{
        display: none;
    }
    .new-text p,
    .new-text b {
        width: 100%;
    
    }

    .phone {
        text-align: center;
    }

}


@media (max-width: 640px){
    .footer-inner {
       
        flex-direction: column;

    }

    .footer-inner .logo {
        margin: 15px 0;
    }
}


@media (max-width: 560px){

    .headline-img{
        width: 200px;
        margin-bottom: 50px;
    }


    .title {
        font-size: 34px;
        line-height: 30px;
    }

    .title2 {
        padding: 10px 0 30px;
    }

    .new-title, .color-title, .contacts-title {
        font-size: 28px;
        line-height: 32px;
    }

    .headline-btn{
        font-size: 18px;
        line-height: 22px;
        padding: 16px 90px 16px;
    }

    .color-item,.color-item img {
        width: 100%;

        
    }


    @media (max-width: 420px){

        .header {
            padding: 5px 0 5px;
        }


        .nav {
            flex-wrap: wrap;
        }
    
        .phone{
            font-size: 20px;
          align-items: center;
            width: 100%;
        }
    
        .menu-item {
            font-size: 26px;
    
        }
    }

}
